In [1]:
import pandas as pd

In [4]:
school_data_to_load = "../PyCitySchools/schools_complete.csv"
student_data_to_load = "../PyCitySchools/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
# Total number of schools
total_schools = len(school_data_complete.school_name.unique())

# Total number of students
total_students = school_data_complete.student_name.count()

# Total budget
total_budget = sum(school_data_complete.budget.unique())

# Average math scores
average_math_score = school_data_complete.math_score.mean()

# Average reading scores
average_reading_score = school_data_complete.reading_score.mean()

# Percentage of students with math scores
passing_math_pct = (school_data_complete[school_data_complete['math_score'] >= 70].math_score.count()) / total_students

# Percentage of students with reading scores
passing_reading_pct = (school_data_complete[school_data_complete['reading_score'] >= 70].reading_score.count()) / total_students

# Overall passing rate
overall_passing_rate = (passing_math_pct + passing_reading_pct)/2